In [1]:
print("hello world")

hello world

# This is all about Python Basics

In [15]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

    ####this is our first program in python: It is just started here

In [16]:
x = 3

In [17]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          int      3

In [18]:
print(type(x))

<class 'int'>

In [19]:
x = 5.7

In [20]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [21]:
print(type(x))

<class 'float'>

In [22]:
abcd = 556.32

In [23]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [24]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [25]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

# %whos check the status of memory

In [26]:
del abcd

    ### del argument deletes it.

In [27]:
print(abcd)

NameError: name 'abcd' is not defined

#### since we have deleted it

In [28]:
s = "hello how are you"

In [29]:
print(type(s))

<class 'str'>

In [30]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
s          str      hello how are you
x          float    5.7

# python is a dynamically typed language 
dont need to define the type of vartiable

# Operators

In [31]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
s          str      hello how are you
x          float    5.7

In [32]:
sumOfAandB = a + b

In [33]:
print(sumOfAandB)

8

In [34]:
type(sumOfAandB)

int

In [35]:
type(a+d)

float

### types are upcasted to super set

In [36]:
((a+d)**3)/4

265.30199999999996

In [37]:
s1 = "hellow"
s2 = " world"
s = s1 + s2
print(s)

hellow world

In [38]:
10//3

3

In [39]:
10/3

3.3333333333333335

### if we don't assign result in the particular variable, by default the last unstored value is stored in _

In [40]:
_

3.3333333333333335

In [41]:
3x = 4

SyntaxError: invalid syntax (3013961758.py, line 1)

In [42]:
@y = 43

SyntaxError: invalid syntax (1494947945.py, line 1)

In [43]:
_e = 7

In [44]:
%whos

Variable     Type     Data/Info
-------------------------------
a            int      3
b            int      5
c            float    6.0
d            float    7.2
f            int      -3
s            str      hellow world
s1           str      hellow
s2           str       world
sumOfAandB   int      8
x            float    5.7

# camel casing

In [45]:
startingTimeOfCourse = 2.0

In [46]:
%whos

Variable               Type     Data/Info
-----------------------------------------
a                      int      3
b                      int      5
c                      float    6.0
d                      float    7.2
f                      int      -3
s                      str      hellow world
s1                     str      hellow
s2                     str       world
startingTimeOfCourse   float    2.0
sumOfAandB             int      8
x                      float    5.7

#### variables can't start with special characters or digits except underscore _

In [47]:
a = True
b = True
c = False

In [48]:
%whos

Variable               Type     Data/Info
-----------------------------------------
a                      bool     True
b                      bool     True
c                      bool     False
d                      float    7.2
f                      int      -3
s                      str      hellow world
s1                     str      hellow
s2                     str       world
startingTimeOfCourse   float    2.0
sumOfAandB             int      8
x                      float    5.7

In [49]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [50]:
d = a or c
print(d)

True

In [51]:
print(not(a))

False

In [52]:
not(b)

False

In [53]:
not(c)

True

In [54]:
t = not(d)

In [55]:
type(t)

bool

In [56]:
print(t)

False

In [57]:
not((a and b) or (c or d))

False

In [58]:
%whos

Variable               Type     Data/Info
-----------------------------------------
a                      bool     True
b                      bool     True
c                      bool     False
d                      bool     True
f                      int      -3
s                      str      hellow world
s1                     str      hellow
s2                     str       world
startingTimeOfCourse   float    2.0
sumOfAandB             int      8
t                      bool     False
x                      float    5.7

In [59]:
print(2<3)

True

In [60]:
c = 2<3
print(type(c))
print(c)

<class 'bool'>
True

In [61]:
d = 3==4
print(d)

False

In [62]:
3==3.0

True

In [63]:
x = 4
y = 9
z = 8.3
r = -3

In [64]:
(x<y)

True

In [65]:
(z<y)

True

In [66]:
(x<y) and (z<y) or (r==x)

True

### and is solved first then or is solved for better

In [67]:
True or False and True

True

In [68]:
print((not(2!=3)) or (False and True))

False

# Some Useful Functions

In [69]:
print(round(4.556))

5

    #### It rounds off to the nearest number

In [70]:
print(round(4.556,2))

4.56

    #### It rounds  upto the second decimal place ,i.e the n specified after number

In [71]:
 divmod(27,5)

(5, 2)

    #### it reutrns the quotient and the remainder after dividing, (5,2)-->tuple, tuple is one of the four inbuilt data types in the python languague

In [72]:
G = divmod(34,9)
print(G)
type(G)

(3, 7)

tuple

In [73]:
%whos

Variable               Type     Data/Info
-----------------------------------------
G                      tuple    n=2
a                      bool     True
b                      bool     True
c                      bool     True
d                      bool     False
f                      int      -3
r                      int      -3
s                      str      hellow world
s1                     str      hellow
s2                     str       world
startingTimeOfCourse   float    2.0
sumOfAandB             int      8
t                      bool     False
x                      int      4
y                      int      9
z                      float    8.3

In [74]:
print(G)

(3, 7)

    ####  To access the first element of G wirte G[0], here first element is 3 and second element is 7

In [75]:
print(G[0])
print(G[1])

3
7

In [76]:
G[1]
G[0]

3

    #### if we write like above then we are calling the function and latest function will be printed  i.e G[0]

    #### isinstance( ) returns true, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [77]:
print(isinstance(1,int))

True

In [78]:
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

False
True

In [79]:
isinstance(3.4,(float,int))

True

In [80]:
isinstance(2+3j,(int,float,str,complex))

True

### TO calclate power of x to y use (x)^y or pow(x,y), and sometimes pow(x,y,z) is used to find (x^y)%z

In [81]:
pow(2,4,7)

2

In [82]:
2**4

16

# Taking input from user

In [99]:
x = input("Enter a number :")

Enter a number :45

In [100]:
type(x)

str

### type of x is str bcoz it recieves input as a sequence of characters

In [101]:
x = int(x)

In [102]:
type(x)

int

In [103]:
print(x-34)

11

In [104]:
a = float(input("Enter a real number :"))

Enter a real number :58.645

In [105]:
type(a)

float

In [116]:
b = float(input("Enter a real number :"))

Enter a real number :545.65

### IF you need help or dont know any thing about a particular command then write help(function) or function? ->for gathering info about it and function?? -> for knowing implementation of the function

In [119]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [120]:
input?

In [121]:
input??

In [122]:
a = int(input())

45

In [124]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("i am still inside if conditon")
print("i am outside if condition")

45
43
45
i am still inside if conditon
i am outside if condition

## the third print is outside the if condition

In [125]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

42
58
58

In [126]:
a = int(input())
b = int(input())
if b>a:
    print("b is greater than a")
else:
    
    print("a is greater than b")

65
77
b is greater than a

In [127]:
a = 1
b = 5
if a==b:
    print("Equal")
elif a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [128]:
a = int(input("Enter Marks"))
if a>= 85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("B Grade")
    print("congragulations for passing")
elif (a >= 75) and (a < 80):
    print("C Grade")
    print("congragulations for passing")
elif (a < 75) and (a >= 70):
    print("D Grade")
    print("congragulations for passing")
elif (a < 70) and (a >=65):
    print("E Grade")
    print("congragulations for passing")
elif (a < 65) and (a >= 60):
    print("F Grade")
    print("Better Luck next time")

Enter Marks77
C Grade
congragulations for passing

In [129]:
x = int(input("Enter Number:"))

if x > 10:
    print("your number is above 10")
    if x > 20:
        print("and also above 20")
    else:
        print("but not above 20")
print("outside if condition")

Enter Number:15
your number is above 10
but not above 20
outside if condition

In [130]:
a = 3
if a > 10:
    print(">10")
elif a<10:
    print("<10")

<10

# Nested If else

### It is indentation(proper alingnment**) that decides which part belongs to what kind of block or structure, the entire meanig of code will change if you don' care about it in PYTHON.

In [131]:
# for single line comment
""" 
for multiline comment
"""
"""User will enter a floating point number let say 238.915.Your task is to find out integer
number before the point(in this case 238), and then check whether number is even or not?
"""
x = float(input("Enter a real number:"))
if x > 0:
    y = round(x)
    if y > x:
        intPortion = y - 1
    else:
        intPortion = y
    print(intPortion)
else:
    y = round(x)
    if y < x:
        intPortion = y + 1
    else:
        intPortion = y
print(intPortion)
if intPortion%2 == 0:
    print("number is even")
else:
    print("number is not even")

Enter a real number:3458.785
3458
3458
number is even

# Loops

## WHILE LOOP

    #### till the condition inside while is true it will be executed again and again and after that it will moov to next block

In [132]:
n = int(input("Enter the number:"))
i = 1
while i<=n:
    print(i**2)
    print("this is iteration number :", i)
    i += 1 #same as i = i+1
print("loop done, outside while loop")

Enter the number:5
1
this is iteration number : 1
4
this is iteration number : 2
9
this is iteration number : 3
16
this is iteration number : 4
25
this is iteration number : 5
loop done, outside while loop

In [137]:
n = int(input("Max iterations:"))
i = 1
while i < n:
    if (i%2 == 0):
        print(i)
    else:
        pass #means do nothing, it could even be omitted,it is just written for sake of
             #readability
    i += 1 #increment i
print("done")

Max iterations:5
2
4
done

In [138]:
n = int(input("max iterations:"))
i = 1
while i <= n:
    if (i%17 == 0):
        print("this is the iteration number:", i)
        print('break')
        break #break immediately exits the loop and get out of its body, no further
              #no code will be run after break command of the loop
    else:
        pass #means do nothing, it could even be omitted,it is just written for sake of
             #readability
    i += 1 #increment i
print("done")

max iterations:4
done

## Break Statement ^|

## CONTINUE

    #### continue will skip the codes after which it is written and again start the iteration

In [139]:
n = 10
i = 1
while True:
    if i%9 == 0:
                print("inside if")
                break
    else:
        print("inside else") 
        i += 1 #i = i + 1
         
print("done")

inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside if
done

    #### no command is run after break

In [140]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i += 1 
        continue
    print("outside if")    
    print("this is iteration number:", i)
    print("something")
    print("somethingelse")
    break
            

print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
outside if
this is iteration number: 9
something
somethingelse
done

    #### continue skips the content after it and executes the same loop until the condition becomes false